@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

/* === General Styles === */

img {
    max-width: 100%;
}

/* === Typography === */

h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: #28283D;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.main-description{
    color: #87879D;
    font-weight: 500;
    line-height: 1.625rem;
    margin-bottom: 2rem;
}

/* === Buttons === */

.btn {
    display: inline-block;
    border-radius: 50px;
    padding: 1.1em 2.5em;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    line-height: 1.625rem;
}

.btn-version{
    color: #8FE3F9;
}

.btn-primary {
    background-color: #4D96A9;
    margin-bottom: 1rem;
    transition: background-color 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #71C0D4;
    cursor: pointer;
}

.btn-secondary {
    background-color: #855FB1;
    padding: 1em 2em;
    transition: background-color 250ms;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #B18BDD;
}

/* === Layout === */

header {
    margin: 3rem 0 3.375rem 0;
}

.hero-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.hero-left {
    min-width: 111%;
    object-fit: cover;
    margin-left: -22px;
}

.container {
    width: 88%;
    margin: 0 auto;
}


.number-01 {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #87879D;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}